@use '../global/variables' as *;

.wrapper {
  width: $wrapper-width;
  max-width: 1068px;
  margin-inline: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($grid-basis, 1fr));
  gap: $grid-gap;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media only screen and (min-width: $desktop)  {

  .grid-container {
    gap: $grid-gap-desktop;
  }

}