.venue {
  margin-top: 5.5em;

  &__stadium {
    margin-bottom: 2.25em;

    .subheading {
      margin: 0;
      margin-bottom: 2em;
    }
  }

  &__staff {

    .subheading {
      margin: 0;
      margin-bottom: 1.5em;
    }  
  }
}