@use '../global/variables' as *;

.venue {
  margin-top: 3.5em;

  &__stadium {
    margin-bottom: 1.5em;
  }

  &__subheading {
    margin: 0;

    &--stadium {
      margin-bottom: 1.5em;
    }

    &--staff {
      margin-bottom: 1.25em;
    }
  }
}

@media only screen and (min-width: $tablet-wide)  {

  .venue {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    &__stadium {
      margin-bottom: 0;
      flex-basis: 26%;
    }

    &__staff {
      flex-grow: 2;  
    }
  }

}

@media only screen and (min-width: $desktop)  {

  .venue {
    display: block;
    flex-basis: 23%;

    &__stadium {
      margin-bottom: 1.8em;
    }
  }

}
