@use '../helpers/normalize.css';
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $base-font;
  line-height: $base-leading;
  font-weight: 600;
  color: $color-font;
  background: $color-body;
}

img {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}

abbr[title] {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  font: inherit;
}
