/* Размеры шрифтов и высоты строк --> */
/* Базовые */
$base-font: 1rem;
$base-leading: 1.17;

$small-font: .75rem;

$middle-font: .875rem;
$middle-leading: 1.75;

/* Заголовки первого уровня */
$h1-font: clamp(2.25rem, 3vw, 2.625rem);
$h1-leading: 1.4;

/* Заголовки второго уровня */
$h2-font: .875rem;
$h2-leading: 1.4;

/* <-- */

/* Цвета --> */
/* Основные цвета для шрифтов */
$color-font: #021b31;
$color-h2: #c1c1c1;

/* Для границ карточек */
$color-outline: #ececec;

/* Для класса '.badge__skill' у карточек в сайдбаре */
$color-skill: #c4c4c4;

/* Для фильтров в таблице игроков */
$color-selected: #184272;
$color-inactive: rgba(24, 66, 114, 0.5);
$color-active: #0a8bff;
$color-blur: radial-gradient(50.14% 92.5% at 49.86% 92.5%, rgba(10, 139, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);

/* Для строк в таблице*/
$color-odd: #f8f8f8;

/* Для таймкодов в таблице игроков */
$color-timestamp: #525252;
$color-yellow: #ffd600;
$color-grey: #686868;
$color-red: #d21845;

/* Фоновые */
$color-back: #fff;
$color-back-transparent: rgba(255, 255, 255, 0.5);
$color-body: linear-gradient(0deg, #F1F9FF, #F1F9FF), #FBFBFA;
/* <-- */

/* Бордер-радиусы --> */
$radius-xs: 2px;
$radius-sm: 5px;
$radius-lg: 10px;
$radius-circle: 100px;
/* <-- */

/* Длительность анимаций --> */
$duration: 300ms;
/* <-- */

/* Ширина центровщика .wrapper -->*/
$wrapper-width: 90%;
/* <-- */

/* Переменные для .grid-container -->*/
$grid-basis: 170px;
$grid-gap: .5em;
/* <-- */