@use './global/variables' as *;
@use './global/global';
@use './layout/layout';
@use './blocks/heading';
@use './blocks/subheading';
@use './layout/sidebar';
@use './blocks/badge';
@use './blocks/arena';
@use './blocks/list';

.teams {
  margin-block: 2em;

  &__heading {
    margin-top: 0;
    margin-bottom: .7em;
    margin-left: .25em;
  }

  &__subheading {
    margin-top: 2em;
    margin-bottom: 1.285em;
    margin-left: .25em;
  }

  &__switch {
    align-items: stretch;
    padding: 0.6em 1.62em 0 1.62em;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__renderer {
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
  }

  &__option {
    flex-basis: 50%;
    padding-bottom: .75em;
    font-size: $small-font;
    color: $color-inactive;
    cursor: pointer;
    &::before {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      margin-inline: auto;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &#dinamo {
      &::before {
        background-image: url('../images/dinamo-logo.webp');
      }
    }

    &#tver {
      &::before {
        background-image: url('../images/tver-logo.webp');
      }
    }

    &--active {
      color: $color-selected;
      box-shadow: 0 3px 1px -1px $color-active;
      background: $color-blur;
      pointer-events: none;
      transition: color $duration,
                  box-shadow $duration;
    }
  }

  &__teammate {
    gap: 1.25em;
    flex-wrap: nowrap;
    animation: loadLiNode $duration linear;
  }

  @keyframes loadLiNode {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1);
    }
  }

  &__number {
    flex-basis: 5%;
    text-align: center;
    text-transform: uppercase;
  }

  &__country {
    flex-shrink: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid $color-skill;
    border-radius: $radius-circle;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: cover;

    &--russia {
      background-image: url('../images/russia.jpg');
    }
  }

  &__name {
    flex-basis: 35%;
    margin: 0;
    font-size: $base-font;
    &::after {
      font-size: $middle-font;
      font-weight: 500;
      color: $color-active;
    }

    &--captain {
      &::after {
        content: '(к)';
      }
    }

    &--midfielder {
      &::after {
        content: 'мф';
      }
    }
  }

  &__moments {
    flex-basis: 15%;
    flex-grow: 0;
    justify-content: space-evenly;
    font-size: $middle-font;
    line-height: $middle-leading;
    font-weight: 700;
    color: $color-timestamp;
  }

  &__timestamp {
    gap: .25em;
    justify-content: center;
  }

  &__outcome {
    display: inline-block;
    width: 8px;
    height: 12px;
    font-size: 0;
    border-radius: $radius-xs;

    &--yellow-card {
      background-color: $color-yellow;
    }

    &--red-card {
      background-color: $color-red;
    }

    &--replacement {
      width: 12px;
      background-image: url('../images/recycle.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__role {
    flex-basis: 10%;
    text-align: center;

    &:not(.teams__role--coach) {
      text-transform: uppercase;
    }

    &--coach {
      font-size: 0;
    }
  }
}

@media only screen and (min-width: $tablet)  {

  .teams {
    &__switch {
      gap: 2.75em;
      flex-wrap: nowrap;
    }

    &__option {
      flex-basis: 47%;
      padding-bottom: .5em;
      text-align: left;
      &::before {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1em .25em 0;
      }
    }

    &__name {
      &::after {
        padding-left: 1em;
      }
    }

    &__moments {
      flex-basis: 25%;
    }

    &__role {
      &--coach {
        font-size: $middle-font;
      }
    }
  }

}

@media only screen and (min-width: $tablet-wide)  {

  .teams {
    &__name {
      &--coach {
        flex-basis: 30%;
      }
    }

    &__role {
      &--coach {
        flex-basis: 15%;
      }
    }
  }

}

@media only screen and (min-width: $desktop)  {

  .teams {
    &__wrapper {
      display: flex;
      gap: 1.875em;
      justify-content: space-between;
    }

    &__container {
      flex-grow: 2;
    }
  }

  .teams {
    &__number {
      flex-basis: 3%;
    }

    &__name {
      flex-basis: 40%;

      &--coach {
        flex-basis: 32%;
      }
    }

    &__moments {
      flex-basis: 30%;
    }

    &__role {
      &--coach {
        flex-basis: 20%;
        text-align: right;
      }
    }
  }

}
