@use './global/variables' as *;
@use './global/global';
@use './layout/layout';
@use './blocks/heading';
@use './blocks/subheading';
@use './layout/sidebar';
@use './blocks/badge';
@use './blocks/arena';
@use './blocks/list';

.teams {
  margin-block: 2em;

  .heading {
    margin-top: 0;
    margin-bottom: .7em;
    margin-left: .25em;
  }

  .subheading {
    margin-top: 2em;
    margin-bottom: 1.285em;
    margin-left: .625em;
  }

  &__switch {
    align-items: stretch;
    padding: 1.125em 1.75em 0 1.75em;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__renderer {
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__option {
    flex-basis: 50%;
    padding-bottom: 1.5em;
    font-size: $small-font;
    color: $color-inactive;
    &::before {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      margin-inline: auto;
      margin-bottom: .5em;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &#dinamo {
      &::before {
        background-image: url('../images/dinamo-logo.webp');
      }
    }

    &#tver {
      &::before {
        background-image: url('../images/tver-logo.webp');
      }
    }

    &--active {
      color: $color-selected;
      border-bottom: 2px solid $color-active;
      background: $color-blur;
    }
  }

  &__teammate {
    gap: 1.25em;
    flex-wrap: nowrap;
  }

  &__number {
    flex-basis: 5%;
    text-align: right;
    text-transform: uppercase;
  }

  &__country {
    flex-shrink: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid $color-skill;
    border-radius: $radius-circle;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: cover;

    &--russia {
      background-image: url('../images/russia.jpg');
    }
  }

  &__name {
    flex-basis: 35%;
    margin: 0;
    font-size: $base-font;
    &::after {
      font-size: $middle-font;
      font-weight: 500;
      color: $color-active;
    }

    &--captain {
      &::after {
        content: '(к)';
      }
    }

    &--midfielder {
      &::after {
        content: 'мф';
      }
    }
  }

  &__moments {
    flex-basis: 15%;
    flex-grow: 0;
    font-size: $middle-font;
    line-height: $middle-leading;
    font-weight: 700;
    color: $color-timestamp;
  }

  &__timestamp {
    gap: .25em;
  }

  &__outcome {
    display: inline-block;
    width: 8px;
    height: 12px;
    font-size: 0;
    border-radius: $radius-xs;

    &--yellow-card {
      background-color: $color-yellow;
    }

    &--red-card {
      background-color: $color-red;
    }

    &--replacement {
      width: 12px;
      background-image: url('../images/recycle.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__role {
    flex-basis: 10%;
    text-align: center;

    &:not(.teams__role--coach) {
      text-transform: uppercase;
    }

    &--coach {
      font-size: 0;
    }
  }
}
